# 忽略Python生成的文件
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 忽略IDE文件
.idea/
.vscode/

# 忽略VLC目录
vlc-3.0.0/

# 忽略后端API文件（现在使用纯前端版本）
api/
web_server.py
1.py
2.py
watch_vip_move.py
watch_vip_move1.py
第二版.py
vercel.json
proxy_server.py
